ul {
color: sienna;
}

h1,h2,h3 {
    margin: 5px;
    color:sienna;
}

h4 {
    margin: 5px;
    color:maroon;
}

img {
    margin: 5px;
}

p {
    margin: 5px;
    line-height: 20px;
    
}

a:link {
    color: black;
  }

a:visited {
    color: navy;
}

a:hover {
    color: sienna;
  }